.card {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .left {
    width: 60%;
    transform: translateX(-100px);
    opacity: 0;
    transition: all .5s ease;

    img {
      width: 100%;
      height: auto;
    }
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    opacity: 0;
    transition: all .5s ease .5s;

    .name {
      font-size: 2rem;
      font-weight: 600;
      transform: translateX(30px);
    }
  }
}

.active{
    .left{
        transform: translateX(0);
        opacity: 1;
    }
    .right{
        transform: translateX(0);
        opacity: 1;
    }
}
