.card {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 560px){
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 60%;
    transform: translateX(-100px);
    opacity: 0;
    transition: all .5s ease;
    @media screen and (max-width: 560px){
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    opacity: 0;
    transition: all .5s ease .5s;
    @media screen and (max-width: 560px){
      width: 100%;
    }

    .name {
      font-size: 2rem;
      font-weight: 600;
      transform: translateX(30px);

      @media screen and (max-width: 560px){
        transform: translateX(0);
      }
    }
  }
}

.active{
    .left{
        transform: translateX(0);
        opacity: 1;
    }
    .right{
        transform: translateX(0);
        opacity: 1;
    }
}
