* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Indie Flower', cursive;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


  .home {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(233, 228, 212, 1);
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    

    .slick-wrapper {
      position: relative;
      height: 100%;
      width: 85%;
      @media screen and (max-width: 770px) {
          width: 100%;
      }

      .slick {
        position: relative;
        height: 100%;       
        width: 100%;

        &::after{
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: rgba(233, 228, 212, 1);
          z-index: 1;
          transform-origin: right center;
          animation:  zcy 1s ease forwards;
        }
        
      }

      .slick-text {
        position: absolute;
        left: 0;
        top: 50%;     
        transform: translateX(-40%);
        font-size: 1.5rem;      
        overflow-x: hidden;
        width: 0;

        @media screen and (max-width: 770px){
          transform: translateX(10%);
        }

        animation: taq 1s ease .3s forwards;

        span{
          display: block;
          width: 25ch;
        }
      }
    }

    .scroll {
      position: absolute;
      left: 10%;
      bottom: 0;

      .line{
        width: 2px;
        height: 100px;
        background-color: #fff;
        cursor: pointer;
        position: relative;

        &::before{
          content: 'SCROLL';
          color: #fff;
          position: absolute;
          transform: rotate(90deg);
          left: 10px;
          top: 0;
          display: block;
          width: 100%;
        }
      }
    }


  }

  .sec-1{
    width: 100%;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    transform: translateY(30px);
    opacity: 0;

    @media screen and (max-width: 1100px){
         padding: 100px 50px;
    }

    @media screen and (max-width:760px){
      padding: 100px 80px;
    }
    @media screen and (max-width: 570px){
      padding:50px 0;
    }
    

    .title{
      width: 100%;
      font-size: 3rem;
    }
    .list{
      @media screen and (max-width: 570px){
        width: 80%;
        margin: 0 auto;
      }
      .more{
        width: 100%;
        text-align: center;
        margin-top: 20px;
  
        span{
          font-size: 1.2rem;
          border: 1px solid gray;
          border-left: none;
          border-right: none;
          cursor: pointer;
  
  
        }
      }
    }
  }
  .visible1{
    transform: translateY(0);
    opacity: 1;
  }

  .sec-2{
    width: 100%;
    padding: 200px;
    background-color: rgba(233,228,212, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
 
    @media screen and (max-width: 1200px){
        padding-left: 0;
        padding-right: 0;
    }

    .about{
      width: 80%;
      height: auto;
      padding: 150px;
      background-color: #fff;
      //transform: translateX(200px);
      padding-left: 300px;
      position: relative;
      min-width: 900px;
      margin: 0 auto;
      @media screen and (max-width: 1200px){
        padding-top: 600px;
        padding-left: 100px;
        min-width: 0;
      }
      @media screen and (max-width: 760px){
        width: 100%;
        padding-top: 70%;
        padding-right: 100px;
      }
      @media screen and (max-width: 560px){
        padding-right: 40px;
        padding-left: 40px;
      }

      .about-inner{
        transform: translateX(100px);
        opacity: 0;
        transition: all .5s ease;
        .about-title{
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 20px;
        }
        .about-content{
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .visible3{
        transform: translateX(0);
        opacity: 1;
      }
      .about-img{
         position: absolute;
         width: 50%;
         max-width: 340px;
         height: auto;
         left:0;
         top: 0;
         transition: all .5s ease;
         transform:translateX(-30%) translateY(-5%);
         opacity: 0;

         @media screen and (max-width: 1200px) {
            transform:translateX(20%) translateY(0) !important;
         }

         img{
           display: block;
           width: 100%;
           height: auto;
         }
      }
      .visible2{
        opacity: 1;
        transform:translateX(-30%) translateY(-20%);
        @media screen and (max-width: 1200px){
          transform:translateX(20%) translateY(-10%) !important;
        }
      }

      .more{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 1.2rem;

        span{
          border: 1px solid gray;
          border-left: none;
          border-right: none;
          cursor: pointer;
        }
      }
    }

    .repair{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      margin-top: 50px;

      @media screen and (max-width: 1200px){
        flex-direction: column;
        align-items: center;
      }

      .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        opacity: 0;
        transform: translateX(-100px);
        transition: all .5s ease;

        @media screen and (max-width: 1200px){
          width: 80%;
          margin-bottom: 30px;
        }

        .repair-title{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .repair-content{
          font-size: 1.2rem;
        }
        .more{
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          margin-top: 20px;

          span{
            border: 1px solid gray;
            border-right: none;
            border-left: none;
            cursor: pointer;
            
          }
        }
      }
      .right{
        width: 50%;
        opacity: 0;
        transform: translateX(100px);
        transition: all .5s ease;

        @media screen and (max-width: 1200px){
          width: 80%;
        }

        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .visible4{
      .left{
        opacity: 1;
        transform: translateX(0);
      }
      .right{
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .sec-3{
    width: 100%;
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
  

    @media screen and (max-width: 1100px){
        padding: 150px 100px;
    }
    @media screen and (max-width: 770px){
      padding: 150px 50px;
  }
  @media screen and (max-width: 560px){
    padding: 100px 20px;
  }

    .collection{
      width: 100%;
      text-align: center;
      margin-bottom: 40px;

      .title{
        width: 100%;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .content{
        width: 50%;
        font-size: 1.2rem;
        margin: 0 auto;
        @media screen and (max-width: 560px){
          width: 100%;
        }

        p{
          width: 100%;
          display: block;
        }
      }
    }

    .card-list{
      width: 100%;

      .card{
        &:nth-child(2){
          flex-direction: row-reverse;

          @media screen and (max-width: 560px){
            flex-direction: column;
          }
        }
        &:nth-child(4){
          flex-direction: row-reverse;
          @media screen and (max-width: 560px){
            flex-direction: column;
          }
        }
      }
      
    }

    .more{
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 30px;

      span{
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        cursor: pointer;
      }
    }
  }

  .sec-4{
    width: 100%;

    .row-1{
      width: 100%;
      height: 200px;
      display: flex;
      
      @media screen and (max-width: 560px){
          flex-direction: column;
      }
      
      
      .col-1,
      .col-2
      {
        position: relative;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: 560px){
          width: 100%;
      }

        &:hover{
          &::after{
            opacity: 0;
          }
        }

        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, .2);
          transition: all .3s ease;
        }
      }

      .col-1{
        background-image: url('/image/14.jpg');
        background-position: center;
        background-size: cover;
      }
      .col-2{
        background-image: url('/image/15.jpg');
        
      }
    }

    .row-2{
      width: 100%;
      height: 500px;
      background-image: url('/image/10.jpg');
      background-position: center;
      background-size: cover;
      position: relative;

      

      &:hover{
        &::after{
          opacity: 0;
        }
      }

      &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .2);
        transition: all .3s ease;
    }
  }
}
.footer{
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3rem;
  background-color: rgba(233, 228, 212, .5);
}
}


@keyframes zcy{
  0%{
      transform: scaleX(1);
  }
  100%{
      transform: scaleX(0);
  }
}

@keyframes taq{
  0%{
    width: 0;
  }
  100%{
    width: 25ch;
  }
}